body{
    background-color: #00CCFA;
}

.title{
    font-size: 30px;
    color:#00008C;
    text-align: center;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:20px;
    
}

body img{
    border:5px solid #000000;
    border-radius: 50px;
}
